body {
  font-family: "Montserrat";
}

.container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 40px;
}

section {
  margin-bottom: 100px;
  padding: 0 100px;
}

/*footer*/
a {
  text-decoration: none; /* 밑줄제거 */
  color: inherit; /* 링크 파란색 제거 */
}
a:hover {
  color: darkgray;
}

@media screen and (min-width: 320px) {
  .container-fluid {
    padding: 0 20px;
  }
}
