body {
  font-family: "Montserrat";
}

.container {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 40px;
}

section {
  margin-bottom: 100px;
  padding: 0 100px;
}

/* Home - Hero */
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 40px;
  background-color: black;
}

/*footer*/
a {
  text-decoration: none; /* 밑줄제거 */
  color: inherit; /* 링크 파란색 제거 */
}
a:hover {
  color: darkgray;
}
