/* HERO */
#hero {
  padding: 0;
}

.heroItem {
  height: 700px;
}

.heroItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroLabel {
  position: absolute;
  z-index: 1;
  top: 25%;
  padding: 0 150px;
}

.heroLabel > h1 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.heroLabel > p {
  width: 50%;
  font-size: 32px;
  line-height: 2rem;
}

.heroBtn {
  width: 160px;
  height: 50px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 3px;
  margin: 20px 0;
}

/* swiper prev, next buttons */
.heroSwiper > div:nth-child(2),
.heroSwiper > div:nth-child(3) {
  color: black;
  padding: 0 50px;
  font-weight: bold;
}

/* swiper pagination */
.heroSwiper > div:nth-child(4) {
  width: auto;
  height: auto;
  margin: 0 150px 350px 150px;
}

.heroSwiper > div:nth-child(4) > span {
  width: 20px;
  height: 20px;
  margin-right: 20px !important;
  background-color: black;
}

/* INFORMATION */
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info h3 {
  font-weight: 600;
}

/* PARTNERS */
.partnersItem {
  overflow: hidden;
}

.partnersSwiper > div:first-child {
  padding-bottom: 40px;
}

.partnersItem img {
  width: 100%;
  height: auto;
  padding-left: 100px;
  object-fit: cover;
}

.partnersLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* swiper prev, next buttons */
.partnersSwiper > div:nth-child(2),
.partnersSwiper > div:nth-child(3) {
  color: black;
  padding: 0 50px;
  font-weight: bold;
}

/* swiper pagination */
.partnersSwiper > div:nth-child(4) {
  bottom: 0;
}

.partnersSwiper > div:nth-child(4) > span {
  width: 20px;
  height: 20px;
  margin-right: 20px !important;
  background-color: black;
}
