/* HERO */
#hero {
  padding: 0;
}

.heroItem {
  height: 700px;
}

.heroItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroCaption {
  color: black;
  text-align: left;
  top: 20%;
}

.heroCaption h1 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.heroCaption p {
  width: 50%;
  font-size: 32px;
  line-height: 2rem;
}

.heroBtn {
  width: 160px;
  height: 50px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 3px;
  margin: 20px 0;
}

/* carousel-indicators */
.heroCarousel > div:first-child {
  bottom: 100px;
  justify-content: left;
}

/* INFORMATION */
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info h3 {
  font-weight: 600;
}

/* PARTNERS */
.partnersItem {
  margin-bottom: 70px;
}

.partnersCarousel img {
  width: 50% !important;
}

.partnersCaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
