/* FAQ - hero */
.hero {
  margin-bottom: 50px;
  position: relative;
}

.hero img {
  width: 100vw;
  height: auto;
}

.hero h1 {
  font-weight: 700;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
}

/* FAQ */
.faqMain {
  justify-content: space-between;
}

/* FAQ - sidebar */
.sidebar {
  margin-bottom: 100px;
}

.sidebar button {
  width: 80%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f2f5f7;
  text-align: left;
  padding: 1px 10px;
  color: black;
}

.sidebar button:hover {
  color: #ffb300;
}

.sidebar button:active {
  background-color: #f2f5f7;
}

/* FAQ - contact info */
.contactInfo div {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.contactInfo svg {
  font-size: 20px;
}

.contactInfo p {
  margin: 0;
  padding-left: 10px;
}

/* FAQ - faq */
.faq {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}

.faq h1 {
  text-align: center;
  font-weight: 600;
}

.faqItems > * {
  border: none;
  --bs-accordion-border-color: transparent !important;
}

.question {
  --bs-accordion-inner-border-radius: 0;
}

.question button {
  background-color: #d9d9d9;
  margin-bottom: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .faqMain > div:nth-child(1) {
    width: 31%;
  }

  .faqMain > div:nth-child(2) {
    width: 67%;
    flex: 0 0 auto;
  }

  .sidebar button {
    width: 100%;
  }

  .contactInfo div {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .faqSection {
    padding: 0 50px;
  }

  .faqMain > div:nth-child(1) {
    display: none;
  }

  .faqMain > div:nth-child(2) {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .hero h1 {
    top: 35%;
    font-weight: 600;
    font-size: 25px;
  }

  .faq h1 {
    font-size: 23px;
  }

  .question button {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .hero h1 {
    top: 25%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .hero h1 {
    top: 17%;
  }
}
